{% extends "base.html" %}

{% block title %}
Senha Gerada
{% endblock %}

{% block content %}

<div id="cupom">
    <h3>ATENDIMENTO AO ALUNO</h3>
    <p>SUA SENHA</p>
    <h1>{{ senha.prefixo }}{{ senha.numero }}</h1>
    <p>Aguarde ser chamado</p>
</div>

<script>
window.addEventListener("load", function () {
    // Garante que a janela está focada para o comando de impressão
    window.focus();

    setTimeout(() => {
        // Dispara a impressão
        window.print();

        // Aumentamos para 3 segundos (3000ms)
        // Isso dá tempo da impressora térmica receber os dados antes da página mudar
        setTimeout(() => {
            window.location.replace("/filas/totem/");
        }, 3000);

    }, 500);
});
</script>

{% endblock %}